<!DOCTYPE html>
<html class="base" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part create</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/cabinet.css}">
</head>
<body>
<!--Header-->
<div th:insert="~{header}"></div>
<!--Header-->
<div class="container">

    <div class="create-form">
        <form class="form-signin" th:action="@{/document-create}" th:method="post" th:object="${documentNew}">
            <h2 class="form-create-heading" th:text="#{document.createTitle}">Create part</h2>
            <div>
                <p>
                <label for="number" class="sr-only" th:text="#{part.number}">partNumber</label>
                <input type="text" id="number" th:field="*{number}" name="partNumber"
                       pattern="^[A-Za-zА-Яа-я0-9]*[A-Za-zА-Яа-яЁё0-9._%+-\s]+$"
                       class="form-control" th:placeholder="#{part.number}" required
                       autofocus>
                </p>
                <select class="form-control" th:field="*{docTypeName}" name="docTypeName">
                    <option th:each="type: ${docType}"
                            th:text="${type}"
                            th:value="${type}">Role
                    </option>
                </select>
            </div>
            <input name="_csrf" type="hidden" value="337369bb-460d-4071-aee0-dd53ffb09376"/>
            <button class="btnCE btnC-lg btn-primaryCE" type="submit" th:text="#{part.create}">Create</button>
            <a class="btnB btnC-lg btn-primaryCE" th:href="@{/home}" th:text="#{singin.back}">Back</a>
        </form>
    </div>

    <div class="container-error">
        <div class="errorSing">
            <div th:if="${error != ''}">
                <div th:value="${error}"
                     th:text="#{part.number}+' '+${error}+' '+#{singin.error}"></div>
            </div>
        </div>
    </div>


</div>
<!--Footer-->
<div th:insert="~{footer}"></div>
<!--Footer-->
</body>
</html>