<!DOCTYPE html>
<html class="base" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link rel="stylesheet" th:href="@{/css/cabinet.css}">

</head>
<body>
<!--Header-->
<div th:insert="~{header}"></div>
<!--Header-->
<div class="container">
    <div>
        <div class="errorSing">
            <div th:if="${nullError != null}">
                <div th:text="#{nullError.message}"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="errorSing">
            <div th:if="${error != null}">
                <div th:value="${error}"
                     th:text="${error}"></div>
            </div>
        </div>
    </div>


</div>
<!--Footer-->
<div th:insert="~{footer}"></div>
<!--Footer-->
</body>
</html>