<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Part list</title>
</head>
<body>
<h3> Part List </h3>
<h4 th:text="${noOfRecords}"> Find parts"</h4>

<table border="1">

    <form th:action="@{/part-list}" th:method="get">
        <td>
            <input text="${partNumber}" value="" name="partNumber">
        </td>
        <td></td>

        <td>
            <select th:value="${type}" name="type">

                <option th:each="type: ${typeList}"
                        th:text="${type}"
                        th:value="${type}">Type
                </option>
                <option value="">Reset</option>
            </select>
        </td>
        <td>
            <select th:value="${sort}" name="sort">

                <option th:each="sort: ${sortList}"
                        th:text="${sort}"
                        th:value="${sort}">Sort
                </option>
                <option value="">Reset</option>
            </select>
        </td>
        <td></td>
        <td>
            <select th:value="${manufacturer}" name="manufacturer">
                <option th:each="manufacturer: ${manufacturerList}"
                        th:text="${manufacturer}"
                        th:value="${manufacturer}">Manufacturer
                </option>
                <option value="">Reset</option>
            </select>
        </td>
        <input type="submit" value="Create">
        </div>
    </form>
    </tr>
    <tr>
        <td>Number</td>
        <td>Description</td>
        <td>Type</td>
        <td>Sort</td>
        <td>Date</td>
        <td>Manufacturer</td>
    </tr>
    <tr></tr>
    <tr th:each="part: ${partList}">
        <td th:text="${part.partNumber}">partNumber</td>
        <td th:text="${part.description}">description</td>
        <td th:text="${part.type}">type</td>
        <td th:text="${part.sort}">sort</td>
        <td th:text="${part.createPartDate}">createPartDate</td>
        <td th:text="${part.manufacturer}">manufacturer</td>
    </tr>
</table>
<table>
    <tr>
            <span class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/part-list?page=${pageNumber}|}" th:text=${pageNumber}>1</a>
            </span>
    </tr>
</table>
</body>
</html>